{
    "extends": [
        "prettier",
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "plugins": [
        "standard",
        "prettier"
    ],
    "rules": {
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "no-nested-ternary": "off",
        "no-use-before-define": "off",
        "standard/computed-property-even-spacing": "off",
        "react/prop-types": [
            0,
            {
                "ignore": [],
                "customValidators": []
            }
        ]
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}