#explore-games {
    width: 90%;
    margin: 50px auto;
    overflow: hidden;
}

#explore-games .game {
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: #c70039;
    overflow: hidden;
    float: left;
    border: 1px solid;
    text-align: center;
    border: 0;
}

#explore-games .game:hover {
    cursor: pointer;
}

#explore-games .game .cover-container {
    width: 338px;
    height: 338px;
    margin: 0 auto;
}

#explore-games .game .title {
   margin: 10px 0 10px 0;
   font-size: 0.7em;
   color: #fff;
}

#explore-games .games-section h3 {
  float: right;
  margin: 30px 28% 0 0;
}

.all-games-link, 
.recent-games-link {
    padding: 5px;
}

.all-games-link-styles,
.recent-games-link-styles {
    background-color: #EAEDED;
    color: #fff;
}

.pagination {
    width: 100%;
    overflow: hidden;
}

.pagination-list {
    overflow: hidden;
    display: block;
    border: 1px solid;
    margin: 10px auto;
    position: relative;
	left: -50%;
	float: right;
    background-color: yellow;
}

.pagination-list .pagination-list-element {
    margin: 0 5px 0 5px;
    float: left;
}

.pagination-list .pagination-list-element:hover {
    cursor: pointer;
}

.selected-page,
.selected {
    color: #eaeded;
}

