html, body {
    height: 100%;
    font-family: Helvetica;
}

body {
    background-color: #353839;
}

.layout {
    font-family: Helvetica;
    background-color: #353839;
}

.link, button:hover {
    cursor: pointer;
}

button { 
    background-color: #000;
    color: #fff;
    border: 0;
}

button:focus {
    outline: none;
    border: 0;
}

input:focus {
    outline: none;
}

.align-left { 
    text-align: left;
}

.align-right {
    text-align: right;
}

.background-red {
    background-color: red;
}

.background-blue {
    background-color: blue;
}

/* Not Authorised Message */

.not-authorised-message {
    text-align: center;
    margin-top: 100px;
    color: #fff;
}

.page-not-found,
.game-not-found,
.games-no-available {
    color: #fff;
    text-align: center;
    margin-top: 100px;
}





