#home {
    padding: 50px 0 0 0;
}

.explore-games {
    width: 90%;
    margin: 0 auto;
}
@media screen and (min-width: 600px) {
    .explore-games {
        width: 50%;
        margin: 0 auto;
    }
}

.game-container {
    background-color: #c70039;
    overflow: hidden;
    width: 100%;
    margin: 10px 0 0 0;

}

.game-container:hover {
    cursor: pointer;
}

.game-container .title {
   float: none;
   text-align: center;
   margin: 30px 0 0 0;
}

.game-container .cover {
    float: left;
}
