/*****SUCCESS MESSAGES*****/

.success-message {
    border: 2px solid #32cd32;
    padding: 5px 10px;
    display: inline-block;
    position: absolute;
    z-index: 1;
}

/*GamesList*/

.success-message.games-list-success {
    right: 30%;
}

/*****DELETE QUESTION*****/

.delete-question {
    position: absolute;
    border: 1px solid;
    transform: translate(-50%, -50%);
    top: 400px;
    left: 50%;
    text-align: center;
    padding: 40px 100px;
    display: inline-block;
    background-color: #000;
    color: #fff;
    border: 0;
    z-index: 1;
}

.delete-question .heading {
    margin: 0 0 10px 0;
}

.delete-question .button {
    margin: 0 5px;
    background-color: #fff;
    border: 0;
    padding: 3px 6px;
}