.create-list {
    width: 100%;
    overflow: hidden;
}

.user-list .gameslist-heading {
    margin: 50px 0 0 5%;
    font-size: 1.4em;
    color: #fff;
 }
 
.edit-list {
    float: right;
    margin: 20px 15% 0 0;
    position: relative;
    right: 0;
}

.edit-list .span {
    background-color: #000;
    color: #fff;
    padding: 2px 4px 2px 4px;
}

.edit-list .span:hover,
.edit-list .list li:hover {
    cursor: pointer;
}

.edit-list .list {
    position: absolute;
    font-size: 0.8em;
    width: 100px;
    top: 20px;
    border: 1px solid;
    background-color: #000;
    color: #fff;
    border: 0;
}
@media screen and (min-width: 800px) {
    .edit-list .list {
        left: 70px;
    }
}

.edit-list .list li {
    padding: 5px 3px 5px 3px;
    border-top: 1px solid #fff;
}

.create-list-form {
   width: 100%;
}

.create-list-form .label {
    margin: 30px 0 0 5%;
    display: block; 
}

.create-list-form .input {
    width: 70%;
    height: 20px;
    border: 2px solid;
    margin: 5px 0 0 5%;
}

.create-list-form .button {
    width: 20%;
    height: 24px;
    background-color: #000;
    border: 0;
    color: #fff;
    margin: 0 0 0 5px;
}

.games-list-section {
    width: 100%;
    margin: 50px 0 0 0;
    padding: 0 0 0 4%;
    overflow: hidden;
}

.games-list-section .heading {
    color: #fff;
    font-size: 1.2em;
}

.games-list-section .game {
    float: left;
    text-align: center;
    width: 50%;
    margin: 50px auto;
    background-color: #000;
}

.games-list-section .game .cover {
    margin: 15px 0 0 0;
    border: 0;
    max-width: 70%;
    height: auto;
}

@media screen and (min-width: 800px) {

    .games-list-section .heading {
        margin: 0 0 15px 0;
    }

    .games-list-section .game {
      width: 264px;
      height: 264px;
      float: left;
      margin: 5px 1% 50px 0;
      overflow: hidden; 
      color: #fff;
    }

    .games-list-section .game .cover-container {
        width: 200px;
        height: 200px;
        margin: 0 32px 5px 32px;
        background-color: #000;
        overflow: hidden;
    }

    .games-list-section .game .cover {
        max-width: 100%;
    }

    .games-list-section .game .title {
        margin: 20px 0 0 0;
        font-size: 0.8em;
        color: #fff;
    }

    .create-list-form .input {
        width: 300px;
    }

    .create-list-form .button {
        width: 100px;
    }
}


