.user-profile {
    width: 90%;
    margin: 50px auto;
    overflow: hidden;
    border: 1px solid #fff;
}

.user-profile .user-profile-info {
    float: left;
}

.user-profile .picture {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid;
    margin-bottom: 30px;
}

.user-profile .parag {
    margin: 15px 0;
    color: #fff;
}

.user-profile .span {
    color: #8c92ac;
}

.user-profile .user-profile-list {
    float: left;
    margin: 70px 2% 0 10%;
    color: #8c92ac;
}

.user-profile .user-profile-message {
    margin: 70px 0 0 0;
    width: 400px;
    float: left;
    overflow: visible;
    position: relative;
}

.user-profile-message .send-message-form {
    margin: 0;
    width: 100%;
}

.user-profile-message .close-icon {
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 9999;
}
