.user-profile {
    width: 90%;
    margin: 50px auto;
    overflow: hidden;
}

.user-profile .user-profile-info {
    float: left;
}

.user-profile .picture {
    width: 300px;
    height: 250px;
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
}

.user-profile .picture-image {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border: 1px solid #fff;
}

.user-profile .picture-update-image-input {
    display: block;
}

.user-profile .picture-save-image-button,
.user-profile .picture-cancel-image-button {
    margin: 20px 2% 0 0;
    float: left;
}

.user-profile .parag {
    margin: 15px 0;
    color: #fff;
}

.user-profile .span {
    color: #8c92ac;
    margin: 0 5% 0 0;
}

.user-profile .user-profile-list {
    float: left;
    margin: 70px 2% 0 10%;
    color: #8c92ac;
}

.user-profile .user-profile-message {
    margin: 70px 0 0 0;
    width: 400px;
    float: left;
    overflow: visible;
    position: relative;
}

.user-profile-message .send-message-form {
    margin: 0;
    width: 100%;
}

.user-profile-message .close-icon {
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 9999;
}

.user-profile .send-message.button {
    margin-top: 70px;
}

.user-profile-does-not-exist {
    color: #fff;
    text-align: center;
    margin-top: 100px;
}
