/*****SUCCESS MESSAGES*****/

.success-message {
    background-color: #32cd32;
    opacity: .8;
    color: #e0e0e0;
    padding: 5px 10px;
    display: inline-block;
    position: absolute;
    z-index: 1;
}

/*GamesList*/

.success-message.games-list-success {
    right: 30%;
}

/*Details*/

.success-message.details {
    left: 25%;
}

/*****ERROR MESSAGES*****/

.error-message {
    background-color: #ff5733;
    color: #e0e0e0;
    opacity: .8;
    padding: 2px 3px;
    display: inline-block;
    position: absolute;
    z-index: 9999;
    padding: 0;
}

.error-message.addgame {
    margin: 0 0 0 5%;
}

.error-message.gameslist {
    margin: 20px 0 0 5%;
}

.error-message.details {
  top: 10px;
  left: 0;
}


/*****DELETE QUESTION*****/

.delete-question {
    position: absolute;
    z-index: 1;
    color: #fff;
    background-color: #000;
    border: 0;
}

.user-list .delete-question.list {
    top: 80px;
}

.delete-question .heading {
    margin: 0 0 10px 0;
}

.delete-question .button {
    margin: 0 5px;
    background-color: #fff;
    color: #000;
    border: 0;
    padding: 3px 6px;
}

.delete-question.list {
    transform: translate(-50%, -50%);
    top: 400px;
    left: 50%;
    text-align: center;
    padding: 40px 100px;
    display: inline-block;
}

.delete-question.game {
    top: 0;

}

/***CONFIRMATION MESSAGES***/

.confirm-question {
    position: relative;
    z-index: 9999;
    width: 200px;
    padding: 20px 0;
    background-color: #000;
    color: #fff;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
}

.confirm-question-buttons {
    margin: 15px 0;
    width: 100%;
    border: 1px solid #fff;
    text-align: center;
}

.confirm-question-buttons .button {
    margin: 0 5px;
    background: #fff;
    color: #000;
}